@import '../colors';

.App, .App.theme-light {
  background-color: $color-white;
  color: $color-black;

  header {
    background-color: $color-black;
    color: $color-white;
  }

  .Answer {
    color: $color-dark-gray;
    &.visible { color: $color-black; }
  }

  .button {
    color: $color-white;
    background-color: $color-light-highlight;
    &.red { background-color: $color-light-highlight-red; }
  }
}

.App.theme-dark {
  background-color: $color-black;
  color: $color-white;

  header {
    background-color: $color-black;
    color: $color-white;
  }

  .Answer {
    color: #888;
    &.visible { color: $color-white; }
  }

  .button {
    color: $color-white;
    background-color: $color-dark-highlight;
    &.red { background-color: $color-dark-highlight-red; }
  }
}

.App {
  $transition-duration: 0.4s;
  $transition:
    background-color $transition-duration ease,
    color $transition-duration ease;

  text-align: center;
  height: 100%;
  display: block;
  overflow: hidden;

  transition: $transition;

  header {
    position: relative;
    padding: 12px 0 8px;
    margin-bottom: 32px;
    transition: $transition;

    h1 { margin: 0 }

    .menu-toggle {
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 12px 12px 0px;
      cursor: pointer;
    }

    .timer-toggle {
      position: absolute;
      top: 0px;
      left: 0px;
      padding: 12px 12px 0px;
      cursor: pointer;
    }

    .current-time {
      font-family: 'luxi';
      position: absolute;
      top: 20px;
      left: 56px;
      width: 50px;
      text-align: right;
    }
  }

  .Answer {
    margin-top: 22px;
    font-size: 120px;
    font-family: abel;
  }

  .menu {
    text-align: left;
    padding: 0 18px;
  }

  h2 { text-align: center; }

  .button {
    cursor: pointer;
    border-radius: 6px;
    height: 60px;
    line-height: 60px;
    font-size: 28px;
    text-align: center;
  }
}
